@font-face {
  font-family: 'iconfont';  /* project id 2272662 */
  src: url('//at.alicdn.com/t/font_2272662_f5xcfyhgdmn.eot');
  src: url('//at.alicdn.com/t/font_2272662_f5xcfyhgdmn.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2272662_f5xcfyhgdmn.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2272662_f5xcfyhgdmn.woff') format('woff'),
  url('//at.alicdn.com/t/font_2272662_f5xcfyhgdmn.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2272662_f5xcfyhgdmn.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
